@import "../base/breakpoint";
@import "../base/color";
@import "../base/shadow";
@import "../base/reset";

/* -- products -- */

category {
  display: none;
  padding: 36px 48px;
  margin-bottom: 16px;
  @include pc-media {
    display: block;
  }
}

.product-wrapper {
  margin: 5rem 1rem 2rem 1rem;
  height: 100vh;
  //處理溢版問題
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  max-width: 50%;
  background-color: green;
}
.product-list__cards {
  width: 286px;
  height: 180px;
}
