@import "../base/color";
@import "../base/breakpoint";
@import "../base/shadow";

/* -- Header -- */
header {
  height: 175px;
  width: 100%;
  z-index: 10;
  @extend %standard-boxshadow;
  @include pc-media {
    display: block;
  }

  .toolbar {
    height: 28px;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 2.5fr) 1fr;
    align-items: center;
    border-bottom: 1px solid lightgray;
    &__item-menu {
      grid-column: 2 / 3;
    }
    &__item-icons {
      grid-column: 3 / 4;
      display: grid;
      grid-auto-flow: column;
      justify-content: end;
      grid-gap: 2rem;
    }
  }

  .navbar {
    &__toggle {
      display: none;
    }
    &__toggle-label {
      display: none;
      width: 56px;
      height: 56px;
      font-size: 17px;
      cursor: pointer;
      line-height: 56px;
      text-align: center;
      @include pc-media {
        display: none;
      }
    }
  }

  .header-container {
    width: 100%;
    margin: 0 auto;
    &__navagation {
      height: 150px;
      width: 100%;
      z-index: 10;
      display: grid;
      grid-template-columns: 1fr 0.1fr minmax(600px, 2.5fr) 0.3fr 1fr;
      align-items: center;
      &__brand {
        grid-column: 3 / 4;
        margin-top: 10px;
        padding-left: 4pc;
        display: grid;
        justify-content: center;
      }
      &__header-actions02 {
        transform: scale(1.5);
        grid-column: 4 / 5;
        grid-row: 1 / 1;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-gap: 1rem;
      }
    }
    &__category {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr minmax(800px, 3fr) 1fr;
      &__expand {
        grid-column: 2 / 3;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-gap: 5rem;
        padding: 10px;
      }
    }
  }

  .announcement {
    height: 38px;
    padding-top: 5px;
    font-size: 17px;
    letter-spacing: 0.75px;
    background-color: #111010;
    color: #f3f0ec;
    display: flex;
    justify-content: center;
  }
}
