@import "../base/color";

/* ------- Basic CSS ------- */
body {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  background-color: var(--bg-color);
  color: var(--body-color);
}
